@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DAK</h1>
    <p class="lead">Aplicacion de registro de envios DAK</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Manual de usuario</h2>
        <p>Necesito ayuda para utilizar este sistema</p>
            <div class="col-md-4">
                <div class="col-md-4">
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Abrir manual de usuario</a></p>
                </div>
            </div>
        </div>
    <div class="col-md-4">
    </div>
</div>